:root {
  --color-primary: #f02222;
  --color-secondary: #292727;
  --color-background-light: #f2f2f2;
  --color-white: #fff;
  --color-black: #000;
}
/*Typography*/
body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  height: 200vh;
  margin: 84px 0;
}
html {
  font-size: 62.5%;
}
/*Buttons*/
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  height: 45px;
  text-transform: uppercase;
  width: 150px;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  transition: background 0.3s;
}
.btn--primary:hover {
  background: var(--color-secondary);
}
.btn--secondary {
  background: var(--color-white);
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
}
.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
/*Lists*/
.list {
  list-style: none;
}
/*Links*/
a {
  text-decoration: none;
}
/*Navigation Bar*/
.navBar {
  align-items: center;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav__logo {
  margin: 30px 15px;
}
.nav__menu {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-right: 30px;
}
.nav__list-container {
  display: none;
}
.nav__list {
  background: var(--color-secondary);
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
  width: 100%;
}
.nav__item {
  border-bottom: 1px solid #383636;
  padding: 15px 20px;
}
.nav__item > a {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 300;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-primary);
}
@media screen and (min-width: 975px) {
  .navBar {
    flex-wrap: nowrap;
  }
  .nav__logo {
    margin-left: 50px;
  }
  .nav__menu {
    display: none;
  }
  .nav__list-container {
    display: flex;
    margin-right: 40px;
    align-items: center;
  }
  .nav__list {
    display: flex;
    background: #fff;
  }
  .nav__item {
    border-bottom: none;
  }
  .nav__item > a {
    color: var(--color-secondary);
    font-weight: 400;
  }
  .nav__list-icon {
    display: flex;
    font-size: 14px;
  }
  .nav__icon > a {
    color: var(--color-secondary);
    padding-left: 30px;
  }
}
/*Hero*/
.hero__img {
  background: 50% 50% url(../images/necklace.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 460px;
}
.hero__container {
  margin-top: 130px;
}
.hero__trend,
.hero__sale {
  text-transform: uppercase;
}
.hero__trend {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.hero__collection {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 1.5rem 0;
}
.hero__sale {
  font-size: 1.7rem;
  margin-bottom: 3rem;
}
